@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>""</p>
    <P> เสื้อผ้าแบรนด์ไทยใน IG ที่ต้องมีติดตู้ไว้ซักตัว ไม่มีไม่ได้แล้ว </P>
    <img src="~/images/436.jpg" width="80%" />
</div>
